.ticker-wrapper {
  overflow: hidden;
  width: 100%;
}

.ticker-track {
  display: flex;
  width: max-content;
  animation: scroll 70s linear infinite;
  will-change: transform;
}

.ticker-group {
  display: flex;
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}